---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Om oss";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Her kan du lese om oss</p>
  <p>
    Vi er en kompakt og effektiv team som er dedikert til å levere topp kvalitet
  </p>

  <p>Adrian Solbakken - CEO og founder</p>

  <p>Jesper Solbakken - CFO og co-founder</p>
</BaseLayout>
