---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Kontakt oss";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Her kan du kontakte oss</p>
  <p>Telefon: 41 10 67 97</p>
  <p>E-post: kontakt@singularis.no</p>
</BaseLayout>
