---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Singularis";
import PricingTag from "../components/PricingTag.astro";
import RetainerPackages from "../components/RetainerPackages.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Velkommen til Singularis</p>

  <RetainerPackages />
</BaseLayout>
