---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Priser";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Her kan du se våre priser</p>
  <p>Mini - 3t - 5% - 4.245,- (spar 405,-)</p>
  <p>Small - 8t - 5% - 11.320,- (spar 1.080,-)</p>
  <p>Medium - 12t - 10% - 16.080,- (spar 1.800,-)</p>
  <p>Large - 18t - 15% - 22.770,- (spar 4.050,-)</p>
  <p>X-Large - 30t - 20% - 35.700,- (spar 9.000,-)</p>
</BaseLayout>
