---
import Navigation from "./Navigation.astro";
import "../styles/header.css";
---

<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">
      <img
        class="logo"
        src="../src/images/logo-small.png"
        alt="Singularis logo"
      />
      <div class="brand-text">
        <span class="brand-name">Singularis</span>
        <span class="brand-tagline">Enkle, raske nettsider</span>
      </div>
    </a>
    <div class="header-actions">
      <Navigation />
      <a class="button button-secondary" href="#contact">Kontakt oss</a>
    </div>
  </div>
</header>
