---
import Navigation from "./Navigation.astro";
import "../styles/header.css";
---

<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">
      <div class="brand-text">
        <span class="brand-name">Singularis</span>
      </div>
    </a>
    <div class="header-actions">
      <Navigation />
    </div>
  </div>
</header>
