---
import Navigation from "./Navigation.astro";
import "../styles/global.css";
import "../styles/header.css";
---

<header>
  <div class="header-container">
    <a href="/">
      <img
        class="logo"
        src="../src/images/logo-small.png"
        alt="Singularis logo"
      />
    </a>
    <Navigation />
  </div>
</header>
